input#file {
    display: inline-block;
    width: 100%;
    padding: 40px 0 0 0;
    /* height: 100px; */
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 40px 40px;
  }
  input#txt{
    border-radius: 12px
  }
  textarea#txt{
    border-radius: 12px
  }
button#upload_button{

    border-radius: 12px;

}

@media only screen and (max-width: 630px) {

    img#remove{
        display: none;
    }
}
